body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ipod{
  margin:auto;
  width:267px;
  height:auto;
}
.upper-body{
  width:inherit;
  height:300px;
  margin-top: 10%;
  background-color: lightgrey;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  overflow:hidden;
}
.header{
  width:inherit;
  height:25px;
  background-color: lightgrey;
  border-bottom: 2px solid grey;
}
.lower-body{
  width:inherit;
  height:220px;
  background-color: lightgrey;
  padding-top:1px;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}
.outer-circle{
  height:180px;
  background-color: #f5f1f1;
  width:180px;
  margin:20px auto;
  border-radius: 50%;
  position: relative;
}
.inner-circle{
  height:90px;
  margin-top: 10px;
  position:absolute;
  top:35px;
  left:45px;
  background-color: #e8e6e6;
  width:90px;
  border-radius: 50%;
}